*{
	margin: 0;
	padding: 0;
	box-sizing: box-border;
}
body{
	background-color : #a18262;

}

.classe1{
	color : #40e0d0;
	text-align : center;
	font-size : 50px;
	font-style: italic;
	margin-top: 20px;
}
#paragrafo1{
	color: blue;
	font-size: 40px;
	margin-top: 20px;
}
#paragrafo2{
	color: green;
	font-size: 40px;
	margin-top: 20px;
}

hr{
	border-color : blue;
}

.imagem{
	display : flex;
	justify-content : center;
	height: 250px;
	margin-top: 20px;
	
}

button{
	background-color: blue;
	border-color: black;
	color: white;
	border-radius: 5px;
	font-size: 30px;
	margin-top: 30px;
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

input{
	margin-top: 20px;
	width: 400px;
	height: 25px;
	border-radius: 5px;
	background-color: skyblue;
	display: block;
	margin-left: auto;
	margin-right: auto;
}